/*ESTILOS GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: sans-serif;
    height: 100%;
    min-height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e1e1;
    color: white;
    padding: 10px;
}
.div_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    margin: 0;
    width: 150px;
    height: 150px;
}
.titulo{
    background: linear-gradient(to right, #03e958, #00B4D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}  
.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    background: linear-gradient(to bottom, #03e958, #00B4D8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin: 15px 0;
}
.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}
.sidebar ul li a:hover {
    color: black;
}
.content {
    flex-grow: 1;
    height: auto;
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
}
footer{
    width: 100%;
    height: 50px;
    color: black;
    background-color: #e3e1e1;
    text-align: center;
    padding: 20px;
}

/*ESTILOS LOGIN*/
.main_login{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div_logo_login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.fieldset_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e1e1;
    border-radius: 10px;
    padding: 20px;
    width: 450px;
    height: auto;
}
.legend_login{
    color: black;
    font-size: 2rem;
}
.form_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.form_login label{
    color: black;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.form_login input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
}
.botones_login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.boton_login{
    background-color: #03e958;
    color: white;
    border: 1px  solid black;
    border-radius: 5px;
    margin-right: 10px;
    width: 40%;
    height: 35px;
}
.boton_registro{
    background-color: #00B4D8;
    color: white;
    border: 1px  solid black;
    border-radius: 5px;
    width: 40%;
    height: 35px;
}
.boton_login:hover{
    background-color: #59dc89;
    color: white;
    border: 1px  solid black;
    border-radius: 5px;
}
.boton_registro:hover{
    background-color: #3bc0da;
    color: white;
    border: 1px  solid black;
    border-radius: 5px;
}

/*ESTILOS REGISTRO*/
.main_registro{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.select_registro{
    width: 30%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
}
.botones_registro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.boton_registrarse{
    background-color: #00B4D8;
    color: white;
    border: 1px  solid black;
    border-radius: 5px;
    width: 40%;
    height: 35px;
}
.boton_registro:hover{
    background-color: #3bc0da;
    color: white;
    border: 1px  solid black;
    border-radius: 5px;
}

/*ESTILOS INICIO*/
.content_inicio{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    font-family: sans-serif;
}
.content_inicio h1{
    color: black;
    font-size: 2rem;
    margin-bottom: 20px;
}
.content_inicio h2{
    color: black;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.content_inicio p{
    color: black;
    font-size: 1rem;
    margin-bottom: 20px;
}
.img_presentacion{
    max-width: 400px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    align-self: center;
}

/*ESTILOS PERFILES*/

.content_perfil{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    box-sizing: border-box;
    font-family: sans-serif;
}
.fieldset_perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e1e1;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: auto;
}
.form_login label{
    color: black;
    font-size: 1rem;
    margin-bottom: 20px;
}
.form_login input{
    width: 40%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
}
.form_login textarea{
    width: 60%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
}
.form_login .input_files{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
}
.form_login select{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
    padding-left: 10px;
}